# Symfony
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# npm/yarn
/node_modules/
/yarn.lock
/public/build/
npm-debug.log
yarn-error.log

# Uploaded content
/public/uploads/*/**.*

# IDEs
/.idea/