{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h1 class="text-center mb-3">Contact</h1>
    <p>My email address is:
        <a href="mailto:julienmaster21@gmail.com?subject=Julienmaster Reviews" target="_blank">
            julienmaster21@gmail.com
        </a>.
    </p>
{% endblock %}
