{% extends 'base.html.twig' %}

{% block title %}JulienMaster reviews{% endblock %}

{% block content %}
    <h1 class="text-center mb-3">Welcome to my blog</h1>
    <p>You can go to <a href="{{ path('post_index') }}">posts</a> to see my latest entries.</p>
    <p>Or you can go to <a href="{{ path('contact') }}">contact</a> to see my contact details.</p>
{% endblock %}
