<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Julienmaster reviews{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.tiny.cloud/1/{{ tiny_mce_api_key }}/tinymce/5/tinymce.min.js"
                    referrerpolicy="origin">
            </script>
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('tinyMCE') }}
        {% endblock %}
    </head>
    <body>
        {# TODO Add navbar #}
        <main class="px-5 pb-3">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
