{% extends 'base.html.twig' %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <h1 class="text-center">Create new Post</h1>

    {{ include('post/form.html.twig') }}
{% endblock %}
